.active {
    text-decoration: underline;
}

.logo {
    width: 180px;
    height: 70px;
    background-image: url("../images/logoRed.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    transition: all ease 0.5s;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10000;
    transition: all ease 0.5s;
    height: 100px;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

nav ul.open {
    display: flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 24px;
    transition: all ease 0.5s;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: white;
    height: 100%;
}

.hamburger{
    color: #E1E1E1;
}

a:has(.shopping-cart-icon):hover .shopping-cart-icon{
    color: #CB1919;
  }
  

.shopping-cart-icon{
    color: #E1E1E1;
    text-shadow:2px 2px 4px #000000;
    transition: all ease 0.5s;
    font-size: 24px;
}

.right-end{
    width: 200px;
}


@media (max-width: 1000px) {
    nav .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: start;

    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.25rem 0.5rem;
    }
}


.hamburger-menu-close{
    display: none;
    width: 100%;
}
.hamburger-menu-open{
    display: block;
}
