.input-wrapper {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    background-color: white;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    background-color: #F6F5F5;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    border-radius: 10px;
    color:black;
    padding-left: 15px;
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper input::placeholder{
    color: black;
}