.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image {
    display: block;
    max-width: 200px;
    height: auto;
  }
  
  .checkbox-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    color: white;
    width: 120px;
    text-align: center;
  }
  
  .checkbox-button.unchecked {
    background-color: rgba(81, 74, 74, 0.8);
  }
  
  .checkbox-button.checked {
    background-color: rgba(172, 54, 54, 0.8); /* Red color */
  }
  
  .checkbox-button input {
    display: none; /* Hide the actual checkbox input */
  }