
body.route-cart .shopping-cart-icon{
    color: #CB1919 !important;
}

.cart-outer-container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-inner-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.cart-inner-container h1 {
    margin-bottom: 50px;
}
.cart-inner-container #wine-details {
    margin-right: 30px;
}
.cart-inner-container #wine-details h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-inner-container #wine-details #winery-name {
    font-size: 18px;
    margin-bottom: 7px;
}

.cart-inner-container #wine-details #single-price {
    font-size: 30px;
    margin-bottom: 0;
}

.cart-inner-container #wine-details #total-price {
    font-size: 20px;
    margin-bottom: 7px;
}

.cart-inner-container #wine-details #total-price span{
    color: #D13636;
}

.cart-inner-container #wine-details #winery-name span {
    font-size: 14px;
    color: rgb(163, 163, 163);
}

.cart-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.cart-inner-container hr{
    width: 100%;
}
.recommended-container{
    width: 100%;
}

.recommended-container h1{
    margin-top: 15px;
    text-align: start;
    font-style: italic;
    color: #D13636;
    font-size: 30px;
}

.cart-wine{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
}

.cart-wine:last-child{
    border-bottom: none;
}

.order-confirmation {
    text-align: center;
}

.order-confirmation h2 {
    font-size: 30px;
    font-weight: bold;
}

.order-confirmation p {
    font-size: 18px;
    margin-bottom: 5px;
}

.order-confirmation #total-price-order {
    font-size: 20px;
    font-weight: bold;
}
.cart-wine img {
    max-width: 300px;
    margin-right: 10px;
}
.order-confirmation p span {
    color: #D13636 !important;
    font-weight: normal;
}

.order-confirmation button {
    margin-top: 10px;
    padding: 6px 27px;
    border: none;
    background-color: #514A4A;
    color: white;
    font-size: 17px;
    text-decoration: none;
}