.create-event-outer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-event-inner-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.create-event-inner-container h1{
    margin-top: 30px;
}
.create-event-inner-container form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.event-details-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details-section .left-seciton{
    width: 60%;
}


.event-details-section .right-seciton{
    width: 320px;
    padding-left: 20px;
}

.event-details-section .input-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-details-section .input-time div{
    width: 45%;
}

.event-details-section .left-seciton input, .event-details-section .left-seciton textarea{
    width: 100%;
    background-color: #F6F5F5;
    border: none;
    padding-left: 20px;
    color: black;
    border-radius: 10px;
}

.event-details-section .left-seciton input{
    height: 45px;
    padding-right: 20px;
}

.event-details-section .left-seciton textarea{
    padding-top: 10px;
    height: 350px;
    resize: none;
}



.event-details-section .left-seciton label{
    margin: 20px 0 10px 20px;

    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.event-details-section ::placeholder {
    color: black;
    opacity: 0.7; /* Firefox */
}

.event-details-section .left-seciton input:focus, .event-details-section .left-seciton textarea:focus{
    outline-color: #AC3636;
    background-color: white;
}

.event-details-section .right-seciton{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: inherit !important;
    
}
.event-details-section .right-seciton p{
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}
.event-details-section .right-seciton div:nth-child(2) p{
    margin-top: 20px;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}
.event-details-section .right-seciton .profile-pic {
    color: transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    
    input {
      display: none;
    }
    
    img {
      position: absolute;
      object-fit: cover;
      width: 300px;
      height: 300px;
      box-shadow: 0 0 10px 0 rgba(255,255,255,.35);
      border-radius: 15px;
      z-index: 0;
      box-shadow: 10px 10px 15px gray;
      
    }
    
    .-label {
      cursor: pointer;
      height: 300px;
      width: 300px;
    }
    
    &:hover {
      .-label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.2);
        z-index: 10000;
        color: rgb(250,250,250);
        transition: background-color .2s ease-in-out;
        border-radius: 15px;
        margin-bottom: 0;
      }
    }
    
    span {
      display: inline-flex;
      font-size: 40px;
    }
  }

  .event-details-section  .location-container {
    height: 300px; /* Inherit height from the parent container */
    width: 300px;
    border-radius: 15px;
    margin: 0;
    box-shadow: 10px 10px 15px gray;
}

.location-container .leaflet-container {
    height: inherit; /* Inherit height from the parent container */
    width: inherit;
    border-radius: 15px;
    margin: 0;
}

body.route-create-event .leaflet-control-container{
    display: none;
}

body.route-create-event .wineries-selection-section{
    width: 90%;
}

body.route-create-event .search-container label{
    margin: 20px 0 10px 20px;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;

}

body.route-create-event .search-container input{
    width: 100%;
    background-color: #F6F5F5;
    border: none;
    padding-left: 20px;
    color: black;
    border-radius: 10px;
    height: 45px;
}

.wineries-selection-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.wineries-selection-section .search-container{
    width: 100%;
}

.wineries-selection-section ::placeholder {
    color: black;
    opacity: 0.7; /* Firefox */
}

.wineries-selection-section input:focus{
    outline-color: #AC3636;
    background-color: white !important;
}

.wineries-selection-section .filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.wineries-selection-section .filter p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.wineries-selection-section .filter select{
    width: 150px;
    background-color: #F6F5F5;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
    height: 35px;
}



body.route-create-event .submit-button{
    background-color: #514A4A;
    padding: 10px 35px;
    color: white;
    border: none;
    margin-top: 20px;
    transition: all ease 0.35s;
}

body.route-create-event .submit-button:disabled{
    background-color: #e0dcdc;
}




.non-clickable-icon {
    pointer-events: none !important;
  }